* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 95%;
  border: 1px solid black;
  min-height: 400px;
  margin: 2rem auto;
  padding: .5rem;
}

header {
  background-color: #480063;
  height: 4rem;
}

nav {
  width: 100%;
}

ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: .5rem 0;
  list-style-type: none;
  gap: .5rem;
}

li {
  height: 4rem;
  background-color: #B2008A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}


main {
  width: 100%;
  display: flex;
}

article {
  background-color: #FD96A9;
  flex: 1;
  margin-right: .5rem;
  height: 25rem;
}

article:last-child {
  margin-right: 0;;
}

footer {
  height: 4rem;
  width: 100%;
  background-color: #C1C99A;
  margin-top: .5rem;
}



